<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>VideoChat</title>
    <link rel="stylesheet" href="css/room-video.module.css" />
  </head>
  <body>
    <div id="video-grid"></div>

    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/room.js"></script>
  </body>
</html>
